absl-py==1.4.0
annotated-types==0.5.0
anyio==3.7.1
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
basemap==1.3.6
basemap-data==1.3.2
beautifulsoup4==4.12.2
branca==0.6.0
cachetools==5.3.1
certifi==2022.12.7
cffi
charset-normalizer==3.1.0
click==8.1.4
colorama==0.4.6
colorlover==0.3.0
comm==0.1.4
contourpy
cycler==0.11.0
dacite==1.8.1
debugpy==1.6.6
decorator==5.1.1
distlib==0.3.6
dnspython==2.3.0
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.103.2
fastjsonschema==2.17.1
filelock==3.11.0
flatbuffers==23.5.26
folium==0.14.0
fonttools
fsspec
gast==0.4.0
gensim
geographiclib==2.0
geopy==2.3.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h11==0.14.0
h5py
htmlmin==0.1.12
httptools==0.5.0
huggingface-hub
idna==3.4
ImageHash==4.3.1
ipykernel
ipython
ipywidgets==8.1.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.1.1
jsonlines
jsonschema==4.17.3
jupyter_client
jupyter_core
jupyterlab-widgets==3.0.9
keras
kiwisolver==1.4.4
kneed==0.8.3
langdetect==1.0.9
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib
matplotlib-inline==0.1.6
missingno==0.5.2
multimethod
mysql-connector-python==8.0.33
nbformat
nest-asyncio==1.5.6
networkx
nltk==3.8.1
numpy
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
overpy==0.6
packaging==23.1
pandas
pandas-profiling==3.2.0
parso==0.8.3
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow
platformdirs==3.0.0
plotly==5.15.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.11
pydantic_core==2.1.2
Pygments==2.14.0
pymongo==4.3.3
PyMySQL==1.0.3
pyodbc==4.0.39
pyparsing==3.0.9
pyproj
pyrsistent==0.19.3
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv
pytz==2023.3
PyWavelets
PyYAML==6.0
pyzmq==25.0.0
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.0
scikit-learn
scipy==1.11.1
seaborn==0.12.2
selenium==4.13.0
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.17.1
threadpoolctl==3.1.0
tokenizers==0.14.1
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.34.1
trio==0.22.2
trio-websocket==0.11.1
tweepy==4.13.0
typeguard==2.13.3
typing_extensions==4.7.1
tzdata==2023.3
Unidecode==1.3.7
urllib3==1.26.15
virtualenv==20.21.0
virtualenv-clone==0.5.7
visions==0.7.5
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
Werkzeug==2.3.6
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.15.0
wsproto==1.2.0
ydata-profiling==4.5.1
