contourpy
fastapi==0.103.2
fsspec
gensim
h5py
ipykernel
ipython
jsonlines
jupyter_client
jupyter_core
keras
langdetect==1.0.9
nltk
numpy
pandas
pyproj
scikit-learn
scipy
textblob==0.17.1
uvicorn
